// Place all the styles related to the numbers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#number_words {
    -webkit-column-count: 6;
    -moz-column-count: 6;
    column-count: 6;
}